*{/*box size maintain*/
	box-sizing: border-box;/*size of box*/
}
body{/*body portion created*/
	margin: 0;/*margin maintain*/
	background-color: white;/*back page color*/
	background-image: url(th.jpg);/*back image added*/
	background-size: cover;/*size cover added*/
}
article  h1{/*article headind added*/
text-align: center;/*words in centre of page*/
font-size: 75px;/*letter size*/

}
article img{/*image in article created*/
	margin-left: 20%;/*gap at left side*/
}
article{/*artice  portion created*/
	margin-top: 5%;/*margin at top side*/
}
header{/*header added*/
    text-align: center;/*words incentre*/
     float: all;/*float made*/
     font-family: 'Permanent Marker', cursive;/*letter style*/
     font-size: 23px;/*letter size*/
     color: lightgrey;/*letter color*/
}
.topnavigationbar{/*class bar created*/
	overflow: hidden;/*overflow created to hidden*/
	background-color: white;/*back page color*/
	text-align: center;/*words inbetween page*/
	text-shadow: 5%;/*shadow is made*/
	letter-spacing: 10%;/*gaps between letter*/
	opacity: 0.2;/*made opaque*/
	display: block;/*letter transform*/
}
.topnavigationbar a{/*link created to bar*/
	float: left;/*float added*/
	display: block;/*letter transform*/
	color: black;/*letter decoration color*/
	text-align: center;/*words in between page*/
	padding: 14px 16px;/*padding created*/
	text-decoration: none;/*text decoration made*/
	font-size: 25px;/*letter size changed*/
	transition: 0.9s;/*transition created*/
	padding: 1%;/*padding made*/
	opacity: 50%;/*opaque is made*/
}
.topnavigationbar a:hover {/*hover made on bar*/
	background-color: lightblue;/*back color page change*/
	color: black;/*words color change*/
	font-weight: 1000;/*words weightage*/
}
footer img{/*image at footer portion*/
	width: 50px;/*image width*/
	height: 50px;/*image height*/
	border-radius: 25%;/*image corner radius made*/
	margin: 1%;/*gap created*/
}
footer{/*footer is created*/
	align-items: left;/*items shift at left side */
}
@media screen and (max-width: 600px) {/*make responsive*/
    .column.side, .column.middle {/*for side and middle column*/
        width: 100%;/*width for screeen*/
    }