*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background-color: white;
	

}
article  h1{
text-align: center;
font-size: 75px;

}
article img{
	margin-left: 20%;
}
article{
	margin-top: 5%;
}
header{
    text-align: center;
     float: all;
     font-family: 'Permanent Marker', cursive;
     font-size: 23px;
     color: lightgrey;
}
.topnavigationbar{
	overflow: hidden;
	background-color: white;
	text-align: center;
	text-shadow: 5%;
	letter-spacing: 10%;
	opacity: 0.2;
	display: block;
}
.topnavigationbar a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
	transition: 0.9s;
	padding: 1%;
	opacity: 50%;
}
.topnavigationbar a:hover {
	background-color: lightblue;
	color: black;
	font-weight: 1000;
}
footer img{
	width: 50px;
	height: 50px;
	border-radius: 25%;
	margin: 1%;
}
footer{
	align-items: left;
}
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }